[Unit]
Description = Time to Get Coffee!
After = network.target
[Service]
ExecStart = /usr/local/sbin/coffeed.sh
[Install]
WantedBy = multi-user.target